/* Styles go here */

body {
    background-color: rgb(246,242,229);
    max-width: 100%;
    overflow-x: hidden;
}

ul {
	padding: 0;
	margin: 0;
}

.as-sortable-placeholder {
	display: inline-block;
	margin: 15px 0;
}

.as-sortable-item {
	background: none;
	border: none;
	border-radius: initial;
	margin: 15px;
	list-style: none;
}

.as-sortable-item-handle {
	max-width: 80%;
	height: auto;
	display: block;
	margin: auto;
	border-radius: 15px;
	box-shadow: 2px 2px 3px black;
}

.container-fluid {
	overflow: auto;
}

#sortable-container {
    display: inline-block;
}

.scroll-up, .scroll-down {
	position: fixed;
	height: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);
}

.scroll-up {
	top: 0%;
}

.scroll-down {
	bottom: 0%;
}

.scroll-up.moving, .scroll-down.moving {
	height: 150px;
	transition: .1s linear height;
}

/** Slidebox-Vertical **/
.slidebox-container {
    position: relative;
}

.slidebox {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* iOS swipe-scroll support */
    padding: 10px;
}

.slidebox-content {
}

.slidebox-controls {
    border: #fff 1px solid;
    border-radius: 3px;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px; /* don't cover scrollbar */
    height: 10%;
}

.slidebox-up {
    background: rgba(128, 128, 128, 0.5) url(../images/up-arrow.png) center center no-repeat;
    top: 0;
    cursor: w-resize;
}

.slidebox-down {
    background: rgba(128, 128, 128, 0.5) url(../images/down-arrow.png) center center no-repeat;
    bottom: 0;
    cursor: e-resize;
}

.col-lg-12 {
	float: none;
	display: inline-block;
}